html,body{
  height: 100%;
  width: 100%;
}

.navbar{
  background-color: #FFF;
  padding: 1% 0;
  font-size: 1.4em;
  
}

.navbar-brand{
  min-height: 55px;
  padding: 0 15px 5px;
  color: #263d66;
}

#home {
  background: url(img/backgroundshop.gif) no-repeat center center fixed;
  display:table;
  height: 80%;
  position: relative;
  width: 100%;
  background-size: cover;
}


.landing-text{
  display:table-cell;
  text-align: center;
  vertical-align:middle;
}

.landing-text h1{
  font-size: 500%;
  font-weight: 700%;
  color: #FFF;
}

.landing-text h3{
  color:#FFF;
}

.padding{
  padding-bottom: 0px;
  
}
.fixed{
  width: auto;
}
img {
  width: 100%;
}
#fixed {
  background-image: url(img/buildProcess.jpg) no-repeat center center fixed;
  display: table;
  height: 100%;
  position:relative;
  width:100%;
  background-size: cover;
  
}

.footer{
  padding: 10px 0 5px 0;
  position: absolute;
  bottom: 0;
  background-color: #415993;
  
}

.foot{
  background-color:#415993;
  padding: 10px 0 20px 0;
}

.row{
  width: 6000;
 
}


/*---------------------------------------------------------------*/
.fa-facebook {
    padding: 15px;
    font-size: 25px;
    color: #ffffff;
    background: #3b5998;
}
.fa-twitter {
    padding: 15px;
    font-size: 25px;
    color: #ffffff;
    background: #00aced;
}
.fa-google {
    padding: 15px;
    font-size: 25px;
    color: #ffffff;
    background: #3cba54;
}
.fa-instagram {
    padding: 15px;
    font-size: 25px;
    color: #ffffff;
    background: #458eff;
}

.fa{
  padding: 15px;
  font-size: 25px;
  color: #ffffff;
  background: #3b5998;
}
.fa:hover{
  color:#FFFFFF;
  text-decoration: none;
}


.icon{
  max-width: 200px;
}

@media (max-width: 768px){
  .landing-text h1 {
    font-size: 300%;
  }
  .fa {
    font-size: 20px;
    padding: 10px;
  }
  .icon{
    padding-top: 5%;
    max-width: 100px;
  }
}
.form-wrapper {
	background-color: #FFFFFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin: 100px auto;
	overflow: hidden;
	padding: 8px;
	width: 450px;
}

.form-wrapper #search {
	border: 1px solid #ffffff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
  color: #000000;
	float: center;
	font: 16px Lucida Sans, Trebuchet MS, Tahoma, sans-serif;
	height: 20px;
	padding: 10px;
	width: 320px;
}

.form-wrapper #search:focus {
	border-color: #999;
	outline: 0;
}

.gallery-container h1 {
	float: center;
    text-align: center;
    margin-top: 70px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    max-width: 800px;
    margin: 25px auto;
    color: #FFFFFF;
    font-size: 18px;
}

.tz-gallery {
    padding: 40px;
}

.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}


@media(max-width: 768px) {
    body {
        padding: 0;
    }

    .container.gallery-container {
        border-radius: 0;
    }
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.form-style-1 {
  margin:10px auto;
  max-width: 400px;
  padding: 20px 12px 10px 20px;
  font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.form-style-1 label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
    background-color: #808080;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;  
}

.form-style-1 .field-divided{
    width: 49%;
}

.form-style-1 .field-long{
    width: 100%;
}
.form-style-1 .field-select{
    width: 100%;
}
.form-style-1 .field-textarea{
    height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.form-style-1 .required{
    color:red;
}


